<div class="container">
  <dialog class="logout-prompt" id="logout" [ngStyle]="{'background-color' : isDarkThemeToggled() ? 'black' : 'white'}">
    <div class="popup-header">
      <div class="red-bar"></div>
      <h2 [ngStyle]="{'color' : isDarkThemeToggled() ? 'white' : 'black'}">{{'LOGOUT-MESSAGE' | translate}}</h2>
    </div>
    <div class="popup-buttons">
      <button class="popup-button confirm" (click)="this.router.navigate(['/login'])">
        {{'YES' | translate}}
      </button>
      <button class="popup-button cancel" (click)="closePrompt()">{{'NO' | translate}}</button>
    </div>
  </dialog>

  <dialog class="logout-prompt" id="logoutPrompt" [ngStyle]="{'background-color' : isDarkThemeToggled() ? 'black' : 'white'}">
    <div class="popup-header">
      <div class="red-bar"></div>
      <h2>{{'INACTIVE-TITLE' | translate}}</h2>
    </div>
    <p>{{'INACTIVE-MESSAGE' | translate}}</p>
    <div class="popup-buttons">
      <button class="popup-button confirm" (click)="resetInactivityTimer(); closeLogoutPrompt()">
        {{'ACTIVE-CONFIRM' | translate}}
      </button>
      <button class="popup-button cancel" (click)="this.router.navigate(['/login'])">
        {{'INACTIVE-LOGOUT' | translate}}
      </button>
    </div>
  </dialog>

  <div class="sidebar" [ngStyle]="{'background-color' : isDarkThemeToggled() ? 'black' : 'white' }">
    <h1>J2 Software</h1>
    <ul [ngStyle]="{'color' : isDarkThemeToggled() ? 'gray' : 'white' }">
      <li><a routerLink="/home" class="active">{{'SIDEBAR.Home' | translate}}</a></li>
      <li><a routerLink="/dashboard">{{'SIDEBAR.Dashboard' | translate}}</a></li>
      <li><a routerLink="/report">{{'SIDEBAR.Report' | translate}}</a></li>
      <li><a (click)="openPrompt()">{{'SIDEBAR.Logout' | translate}}</a></li>
      <li><a (click)="toggleDarkTheme()">{{'SIDEBAR.Theme' | translate}}</a></li>
      <li>
        <div class="sort-options">
          <span class="sort-label">Select Language:</span>
          <select class="sort-select" [(ngModel)] = "selectedLanguage" (change)="changeLanguage(selectedLanguage)">
            <option value="en">English</option>
            <option value="afr">Afrikaans</option>
          </select>
        </div>
      </li>
    </ul>
  </div>

  <div class="home-container" [ngStyle]="{'background-color' : isDarkThemeToggled() ? 'black' : 'white', 'background-image': isDarkThemeToggled() ? 'url(assets/images/background_image_dark.jpg)' : 'url(assets/images/background_image.png)'}">
    <div class="date-selection" [ngStyle]="{'background-color' : isDarkThemeToggled() ? 'black' : 'white'}">
      <h2 [ngStyle]="{'color' : isDarkThemeToggled() ? 'white' : '#2c3e50'}">{{'DATE-TITLE' | translate}}</h2>
      <div class="date-inputs">
        <div class="date-input">
          <label for="start_date" [ngStyle]="{'color' : isDarkThemeToggled() ? 'white' : 'gray'}">{{'START-TITLE' | translate}}</label>
          <input type="date" class="date-selector" id="start_date" name="start_date" min="2024-01-01"
            (change)="minEndDate(startDateInput, endDateInput)" #startDateInput />
        </div>
        <div class="date-input">
          <label for="end_date" [ngStyle]="{'color' : isDarkThemeToggled() ? 'white' : 'gray'}">{{'END-TITLE' | translate}}</label>
          <input type="date" class="date-selector" id="end_date" name="end_date" min="2024-01-01" (change)="updateAlertCount()" #endDateInput />
        </div>
      </div>
    </div>

    <div class="metrics">
      <div class="metric" [ngStyle]="{'background-color' : isDarkThemeToggled() ? 'black' : 'white'}">
        <h2>{{'ALERT-TITLES.malicious-alerts' | translate}}</h2>
        <h1>{{impactAlerts + initialAccessAlerts + defenceEvasionAlerts + exfiltrationAlerts 
          + collectionAlerts + privilegeEscalationAlerts + persistenceAlerts + reconnaissanceAlerts + 
          executionAlerts + resourceDevelopmentAlerts}}</h1>
      </div>
      <div class="metric" (click)="navigateToDashboard('impact')" [ngStyle]="{'background-color' : isDarkThemeToggled() ? 'black' : 'white'}">
        <h2>{{'ALERT-TITLES.impact-alerts' | translate}}</h2>
        <p [ngStyle]="{'color' : isDarkThemeToggled() ? 'white' : 'gray'}">{{'ALERT-DESCRIPTIONS.Impact-DESC' | translate}}</p>
        <h1>{{ impactAlerts }}</h1>
      </div>
      <div class="metric" (click)="navigateToDashboard('defense-evasion')" [ngStyle]="{'background-color' : isDarkThemeToggled() ? 'black' : 'white'}">
        <h2> {{'ALERT-TITLES.defence-evasion-alerts' | translate}}</h2>
        <p [ngStyle]="{'color' : isDarkThemeToggled() ? 'white' : 'gray'}">{{'ALERT-DESCRIPTIONS.Defence-Evasion-DESC' | translate}}</p>
        <h1>{{ defenceEvasionAlerts }}</h1>
      </div>
      <div class="metric" [ngStyle]="{'background-color' : isDarkThemeToggled() ? 'black' : 'white'}">
        <h2>{{'ALERT-TITLES.total-alerts' | translate}}</h2>
        <h1>{{impactAlerts + initialAccessAlerts + defenceEvasionAlerts + exfiltrationAlerts 
          + collectionAlerts + privilegeEscalationAlerts + persistenceAlerts + reconnaissanceAlerts + 
          executionAlerts + resourceDevelopmentAlerts}}</h1>
      </div>
      <div class="metric" (click)="navigateToDashboard('persistence')" [ngStyle]="{'background-color' : isDarkThemeToggled() ? 'black' : 'white'}">
        <h2> {{'ALERT-TITLES.persistence-alerts' | translate}}</h2>
        <p [ngStyle]="{'color' : isDarkThemeToggled() ? 'white' : 'gray'}">{{'ALERT-DESCRIPTIONS.Persistence-DESC' | translate}}</p>
        <h1>{{ persistenceAlerts }}</h1>
      </div>
      <div class="metric" (click)="navigateToDashboard('exfiltration')" [ngStyle]="{'background-color' : isDarkThemeToggled() ? 'black' : 'white'}">
        <h2>{{'ALERT-TITLES.exfiltration-alerts' | translate}}</h2>
        <p [ngStyle]="{'color' : isDarkThemeToggled() ? 'white' : 'gray'}">{{'ALERT-DESCRIPTIONS.Exfiltration-DESC' | translate}}</p>
        <h1>{{ exfiltrationAlerts }}</h1>
      </div>
      <div class="metric" (click)="navigateToDashboard('initial-access')" [ngStyle]="{'background-color' : isDarkThemeToggled() ? 'black' : 'white'}">
        <h2>{{'ALERT-TITLES.initial-access-alerts' | translate}}</h2>
        <p [ngStyle]="{'color' : isDarkThemeToggled() ? 'white' : 'gray'}">{{'ALERT-DESCRIPTIONS.Initial-Access-DESC' | translate}}</p>
        <h1>{{ initialAccessAlerts }}</h1>
      </div>
      <div class="metric" (click)="navigateToDashboard('privilege-escalation')" [ngStyle]="{'background-color' : isDarkThemeToggled() ? 'black' : 'white'}">
        <h2>{{'ALERT-TITLES.privilege-escalation-alerts' | translate}}</h2>
        <p [ngStyle]="{'color' : isDarkThemeToggled() ? 'white' : 'gray'}">{{'ALERT-DESCRIPTIONS.Privilege-Escalation-DESC' | translate}}</p>
        <h1>{{ privilegeEscalationAlerts }}</h1>
      </div>
      <div class="metric" (click)="navigateToDashboard('collection')"[ngStyle]="{'background-color' : isDarkThemeToggled() ? 'black' : 'white'}">
        <h2>{{'ALERT-TITLES.collection-alerts' | translate}}</h2>
        <p [ngStyle]="{'color' : isDarkThemeToggled() ? 'white' : 'gray'}">{{'ALERT-DESCRIPTIONS.Collection-DESC' | translate}}</p>
        <h1>{{ collectionAlerts }}</h1>
      </div>
      <div class="metric" (click)="navigateToDashboard('reconnaissance')" [ngStyle]="{'background-color' : isDarkThemeToggled() ? 'black' : 'white', 'color' : isDarkThemeToggled() ? 'black' : 'white'}">
        <h2>{{'ALERT-TITLES.reconnaissance-alerts' | translate}}</h2>
        <p [ngStyle]="{'color' : isDarkThemeToggled() ? 'white' : 'gray'}">{{'ALERT-DESCRIPTIONS.Reconnaissance-DESC' | translate}}</p>
        <h1>{{ reconnaissanceAlerts }}</h1>
      </div>
      <div class="metric" (click)="navigateToDashboard('execution')" [ngStyle]="{'background-color' : isDarkThemeToggled() ? 'black' : 'white', 'color' : isDarkThemeToggled() ? 'black' : 'white'}">
        <h2>{{'ALERT-TITLES.execution-alerts' | translate}}</h2>
        <p [ngStyle]="{'color' : isDarkThemeToggled() ? 'white' : 'gray'}">{{'ALERT-DESCRIPTIONS.Execution-DESC' | translate}}</p>
        <h1>{{ executionAlerts }}</h1>
      </div>
      <div class="metric" (click)="navigateToDashboard('resource-development')" [ngStyle]="{'background-color' : isDarkThemeToggled() ? 'black' : 'white'}">
        <h2>{{'ALERT-TITLES.resource-development-alerts' | translate}}</h2>
        <p [ngStyle]="{'color' : isDarkThemeToggled() ? 'white' : 'gray'}">{{'ALERT-DESCRIPTIONS.Resource-Development-DESC' | translate}}</p>
        <h1>{{ resourceDevelopmentAlerts }}</h1>
      </div>
    </div>
  </div>
</div>